* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-image: url("assets/images/wormz.png");
}

h1 {
    color: white; 
}

h2 {
    color: #4aaaa5; 
}

header {
    height: 80px; 
    width: 100%; 
    background-color: #ffffff; 
    overflow: hidden; 
    border-style: hidden hidden solid hidden; 
    border-color: #dddddd;
    border-width: 1px; 
}  

#title {
    float: left; 
    background-color: #4aaaa5; 
    height: 80px;
    margin: 0 2% 0 10%; 
    padding: 10px;
    width: 220px;
    text-align: center; 
}

#nav {
    float: right; 
    margin: 0 10% 0 0; 
    height: 80px;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #777777; 

}

li {
    text-align: center; 
    float: left; 
    
}

li a {
    display: table-cell; 
    vertical-align: middle; 
    text-decoration: none;
    width: 100px;
    height: 80px;
}

li a:hover {
    background-color: #4aaaa5; 
    color: white;

}

#content {
    height: 1100px; 
    width: 100%; 
    clear: both; 
    padding: 10px; 
    background-color: #d1d0d0; 
    color: #777777; 
    background-image: url("assets/images/concrete-texture.png");

}

#side_bar {
    height: 200px;
    width: 270px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    padding: 10px;
    float: left; 
    text-align: center; 
    border-radius: 10px; 


}

.connect_img {
    height: 60px;
    width: 60px;
    margin: 10px; 
    border-radius: 5px; 
}

.connect_img:hover {
    box-shadow: 5px 5px 10px #4aaaa5; 
    /* box-shadow: 0 4px 8px 0 #4aaaa5, 0 6px 20px 0; */
    transition: 2s; 
}

footer {
    background-color: #666666; 
    color: white; 
    clear: both; 
    height: 80px; 
    text-align: center; 
    padding: 30px;
    border-style: solid hidden hidden hidden; 
    border-color: #4aaaa5;
    border-width: 5px; 
}

/* ABOUT PAGE */
#about {
    height: 400px;
    width: 650px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    float: left; 
    padding: 20px;
    border-radius: 10px; 


}

#profile_img {
    height: 190px;
    width: 160px;
    margin: 10px;
    position: relative;
    float: left; 
}

#about p {
    margin: 10px; 
}


/* PORTFOLIO PAGE */
#portfolio {
    height: 800px;
    width: 650px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    float: left; 
    padding: 20px;
    border-radius: 10px; 
}


.portfolio_img {
    height: 198px;
    width: 198px;
    z-index: 1;

}

.portfolio_banner {
    height: 40px; 
    width: 200px;
    /* opacity: .9;  */
    display: block; 
    padding: 5px;
    background-color: #4aaaa5;
    color: white; 
    font-size: 15px;
    text-align: center; 
    z-index: 2;
    position: absolute; 
    bottom: 15px; 
}

#portfolio_box1 {
    height: 200px;
    width: 200px;
    float: left; 
    position: relative; 
    bottom: -10px; 
    box-shadow: 5px 5px 10px #4aaaa5;
    margin: 20px 50px; 
}

#portfolio_box2 {
    height: 200px;
    width: 200px;
    float: left; 
    position: relative; 
    bottom: -10px; 
    box-shadow: 5px 5px 10px #4aaaa5;
    margin: 20px 50px; 
}

 #portfolio_box3 {
    height: 200px;
    width: 200px;
    float: left; 
    position: relative; 
    bottom: -10px; 
    box-shadow: 5px 5px 10px #4aaaa5;
    margin: 20px 50px; 
}

#portfolio_box4 {
    height: 200px;
    width: 200px;
    float: left; 
    position: relative; 
    bottom: -10px; 
    box-shadow: 5px 5px 10px #4aaaa5;
    margin: 20px 50px; 
}

 #portfolio_box5 {
    height: 200px;
    width: 200px;
    float: left; 
    position: relative; 
    bottom: -10px; 
    box-shadow: 5px 5px 10px #4aaaa5;
    margin: 20px 50px; 
} 


/* CONTACT PAGE */
#contact {
    height: 450px;
    width: 650px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    float: left; 
    padding: 20px;
    border-radius: 10px; 
}

input[type="text"] {
    width: 200px; 
    height: 30px;
    padding: 10px 0;
    outline: none;
}

input[type="email"] {
    width: 200px; 
    height: 30px;
    padding: 10px 0;
    outline: none;
}

textarea {
    width: 600px;
    height: 200px;
    resize: none; 
}

input[type="submit"] {
    background-color: #4aaaa5; 
    color: white; 
    border: 1px solid white;
    width: 100px; 
    padding: 10px 0;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #2e6b68; 
